@import '../../styles/variables.scss';

.header {
  display: flex;
  height: 80px;
  align-items: center;

  &-logo {
    font-size: 20px;
    font-weight: 600;
    color: $black;
  }

  &-nav {
    display: none;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: flex-end;

    &-item {
      margin-left: 25px;
      color: $black;
      font-size: $link;
      font-weight: 500;
    }

    .active {
      color: $main;
    }
  }

  &-mobile {
    flex-basis: auto;
    flex-grow: 1;
    justify-content: flex-end;

    &-icon {
      float: right;
      cursor: pointer;
      padding: 15px;
      position: relative;
      right: -15px;
    }

    &-list {
      display: none;
      position: absolute;
      border-radius: 6px;
      background: $white;
      left: 0;
      top: 75px;
      width: calc(100% - 30px);
      margin: 0 15px;
      box-shadow: $shadow;

      li {
        padding: 15px;

        &:first-child {
          border-bottom: solid 1px $grey-4;
        }
      }
    }
  }
}

@media (min-width: 600px) {
    .header-nav {
      display: flex;
    }

		.header-mobile {
			display: none;
		}
	}
