@import '../../styles/variables.scss';

.header {
  display: flex;
  height: 80px;
  align-items: center;

  &-logo {
    font-size: 20px;
    font-weight: 600;
    color: $black;
  }

  &-nav {
    display: none;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: flex-end;

    &-item {
      margin-left: 25px;
      color: $black;
      font-size: $link;
      font-weight: 500;
    }
  }

  &-mobile {
    flex-basis: auto;
    flex-grow: 1;
    justify-content: flex-end;

    &-icon {
      float: right;
      cursor: pointer;
    }

    &-list {
      display: none;
      position: absolute;
    }
  }
}

@media (min-width: 600px) {
    .header-nav {
      display: flex;
    }

		.header-mobile {
			display: none;
		}
	}
