@import './variables.scss';
@import './datepicker.scss';
@import './tabs.scss';
@import "~slick-carousel/slick/slick.css";

@font-face {
   font-family: 'Avenir Next';
   src: url(../fonts/AvenirNext/AvenirNextLTPro-Heavy.otf) format('truetype');
   font-weight: 700;
}

@font-face {
   font-family: 'Avenir Next';
   src: url(../fonts/AvenirNext/AvenirNextLTPro-Bold.otf) format('truetype');
   font-weight: 600;
}

@font-face {
   font-family: 'Avenir Next';
   src: url(../fonts/AvenirNext/AvenirNextLTPro-BoldItalic.otf) format('truetype');
   font-weight: 600;
   font-style: italic;
}

@font-face {
   font-family: 'Avenir Next';
   src: url(../fonts/AvenirNext/AvenirNextLTPro-Demi.otf) format('truetype');
   font-weight: 500;
}

@font-face {
   font-family: 'Avenir Next';
   src: url(../fonts/AvenirNext/AvenirNextLTPro-DemiIt.otf) format('truetype');
   font-weight: 500;
   font-style: italic;
}

@font-face {
   font-family: 'Avenir Next';
   src: url(../fonts/AvenirNext/AvenirNextLTPro-Medium.otf) format('truetype');
   font-weight: 400;
}

@font-face {
   font-family: 'Avenir Next';
   src: url(../fonts/AvenirNext/AvenirNextLTPro-MediumItalic.otf) format('truetype');
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: 'Avenir Next';
   src: url(../fonts/AvenirNext/AvenirNextLTPro-Regular.otf) format('truetype');
   font-weight: 300;
}

@font-face {
   font-family: 'Avenir Next';
   src: url(../fonts/AvenirNext/AvenirNextLTPro-It.otf) format('truetype');
   font-weight: 300;
   font-style: italic;
}


html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Avenir Next", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $black;
  background-color: $grey-5;
}

h1 {
  font-size: $h1;
  font-weight: 600;
}

h2 {
  font-size: $h2;
  font-weight: 500;
}

h3 {
  font-size: $h3;
  font-weight: 400;
}

p {
  font-size: $p;
  font-weight: 400;
}

input {
  font-size: 16px;
  font-family: "Avenir Next", Arial, sans-serif;
  color: $black !important;

  &[placeholder] {
    font-size: 16px;
  }
}

button {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: $main;
  -webkit-tap-highlight-color: transparent;

  &:visited {
  }

  &.play-link {
    cursor: pointer;
    color: $grey-2;
    display: flex;
    align-items: center;

    img {
      width: 25px !important;
    }

    &:hover {
      opacity: 0.75;
    }
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.bold {
  font-weight: 600;
}

.semibold {
  font-weight: 500;
}

.light {
  color: $grey-2;
}

.small-text {
  font-size: 16px;
}

.small-uppercase {
  font-size: 14px;
  font-weight: 500;
  color: $grey-2;
  text-transform: uppercase;
}

.patreon-btn {
  color: $black;
  background: $white;
  font-weight: 500;
  box-shadow: $shadow;
  padding: 15px;
  border-radius: 6px;
  display: inline-block;

  img {
    margin-right: 10px;
  }

  &:hover {
    box-shadow: $shadow-2;
  }
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 100%;
  box-shadow: $shadow;

  img {
    width: 25px;
    margin: auto;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  padding: 0 7.5px;
  flex-direction: column;
}

.page-header {
  background: $white;
  padding: 25px 0;
  border-bottom: solid 1px $grey-4;

  &.wTabs {
    border-bottom: 0px;
    padding-bottom: 0px;
  }

  &.wImage {
    background-size: 100% auto;
    background-position: top right;
    display: block;
    position: relative;

    &::before {
      content: '';
      height: calc(100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(43, 49, 58, 0.75);
      z-index: 0;
    }
  }

  .container {
    h2 {
      margin: 0px;
    }
  }
}

@media screen and (max-width: 600px) {
}
