@import './variables.scss';

.react-tabs {
  &__tab-list {
    display: flex;
  }

  &__tab {
    cursor: pointer;
    padding: 5px 10px;
    border: solid 2px $black;
    font-weight: 500;
    transition: 0.3s;
    outline: none;
    width: 200px;
    text-align: center;

    &:first-child {
      border-radius: 6px 0 0 6px;
      border-right: 0px;
    }

    &:last-child {
      border-radius: 0 6px 6px 0;
      border-left: 0px;
    }

    &:hover {
      background: $grey-3;
    }

    &--selected {
      border-radius: 0px;
      color: $white;
      background: $main;
      border: solid 2px $main;

      &:hover {
        background: darken($main, 5%);
      }
    }


  }
}
