@import './variables.scss';

.react-tabs {

  &-center {
    margin: auto;
    display: flex;
  }

  &__tab-list {
    background: $white;
    border-bottom: solid 1px $grey-4;

    .container {
      flex-direction: row;
    }
  }

  &__tab {
    cursor: pointer;
    padding: 15px 10px;
    font-weight: 500;
    transition: 0.3s;
    outline: none;
    width: 200px;
    text-align: center;
    white-space: pre;
    color: $black;
    border-bottom: solid 3px rgba(255,255,255,0);

    &:hover {
      color: $main;
    }

    &--selected {
      color: $main;
      border-bottom: solid 3px $main;
    }
  }
}

@media screen and (max-width: 600px) {
  .react-tabs {

    &__tab {
      margin: auto;
    }

    &-center {
      width: 100%;
      margin: 0px;
      display: inherit;
    }
  }
}
