@import './variables.scss';

.react-tabs {
  &__tab-list {
    display: flex;
  }

  &__tab {
    cursor: pointer;
    padding: 7.5px 15px;
    border: solid 2px $black;
    border-radius: 6px;
    margin-right: 10px;
    font-weight: 500;
    transition: 0.3s;

    &--selected {
      color: $white;
      background: $main;
      border: solid 2px $main;
    }

    &:hover {
      opacity: 0.75;
    }
  }
}
