/* Font-Sizes */
$h1: 36px;
$h2: 30px;
$h3: 24px;
$h4: 20px;
$link: 16px;
$p: 16px;

/* Colors */
$alt: #232C63;
$main: #3D5AFE;
$black: #2B313A;
$grey-1: #434E5D;
$grey-2: #6F7785;
$grey-3: #CBD1DB;
$grey-4: #E2E7EC;
$grey-5: #f9f9f9;
$white: #ffffff;

/* Other */
$radius: 4px;
$shadow: 0px 2px 12px 0px rgba(100,100,100,0.1);
$shadow-2: 0px 2px 12px 0px rgba(200,211,219,0.75);
$shadow-3: 0px 2px 25px 0px rgba(0,0,0,0.4);

$shadow-invert: 0px -2px 12px 0px rgba(100,100,100,0.1);
