/* Font-Sizes */
$h1: 48px;
$h2: 30px;
$h3: 24px;
$h4: 20px;
$link: 16px;
$p: 16px;

/* Colors */
$main: #3D5AFE;
$black: #2B313A;
$grey-1: #434E5D;
$grey-2: #6F7785;
$grey-3: #CBD1DB;
$grey-4: #E2E7EC;
$grey-5: #F6F9FC;
$white: #ffffff;

/* Other */
$radius: 6px;
$shadow: 0px 2px 12px 0px rgba(221,231,239,0.75);
$shadow-2: 0px 2px 12px 0px rgba(200,211,219,0.75);
