@import '../../styles/variables.scss';

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  padding: 25px 0;
  border-top: 1px solid $grey-4;

  a {
    color: $main;
  }
}
