@import '../../styles/variables.scss';

.footer {
  justify-content: space-between;
  margin-top: 25px;
  padding: 25px 0;
  border-top: 1px solid $grey-4;

  &-links {
    margin-top: 5px;

    a {
      font-weight: 500;
      color: $black;
      text-decoration: underline;
      margin-right: 15px;
    }
  }
}
