@import '../../../styles/variables.scss';
.home {
  &-header {
    width: 100%;
    height: 400px;
    margin: auto;
    display: block;
    background-size: 100% auto;
    background-position: top right;
    position: relative;
    align-items: center;

    &-featured {
      text-align: right;
      position: absolute;
      bottom: 0px;
      right: 0px;
      margin: 0 7.5px 25px 0;
      color: $white;
      z-index: 1;

      &-name {
        font-weight: 600;
        font-size: $h4;
        color: $white;
      }
    }

    .container {
      position: relative;

      h1 {
        margin: auto 0;
        width: 60%;
        color: $white;
        z-index: 1;
        text-align: left;
      }
    }

    &::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(43, 49, 58, 0.7);
      z-index: 0;
    }
  }

  &-page {

    h3 {
      font-size: 24px;
      font-weight: 500;
      display: flex;
      align-items: center;

      a {
        font-size: 16px;
        font-weight: 400;
        margin-left: 10px;
      }
    }

    &-wrapper {
      display: flex;
    }

    &-col {
      width: 50%;

      &:first-child {
        margin-right: 12.5px;
      }

      &:last-child {
        margin-left: 12.5px;
      }

      &-wrapper {
        display: flex;
      }
    }
  }
}


.card {
  display: block;
  border-radius: 6px;
  margin-bottom: 15px;
  background-size: 100% auto;
  padding: 15px;
  position: relative;
  transition: 0.3s;

  &.card-player {
    height: 120px;

    &::after {
      content: '';
      background: rgba(43, 49, 58, 0.7);
      border-radius: 6px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    .card-content {
      * {
        z-index: 99;
        font-size: 16px;
        font-weight: 400;
      }

      &-name {
        color: $white;
        text-transform: uppercase;
        text-align: left;
        position: absolute;
        left: 15px;
        bottom: 10px;
        z-index: 5;

        span {
          display: block;
          font-size: 20px;
          font-weight: 600;
          text-transform: uppercase;
        }
      }

      &-result {
        position: absolute;
        z-index: 5;
        height: 120px;
        background: linear-gradient(270deg, rgba(43, 49, 58, 0.7) 0%, rgba(0,0,0,0) 100%);
        width: 200px;
        border-radius: 0 6px 6px 0;
        right: 0px;
        top: 0px;

        &-item {
          color: $white;
          text-align: right;
          font-weight: 400;
          position: absolute;
          right: 15px;
          bottom: 10px;

          span {
            color: $white;
            font-weight: 600;
            font-size: 24px;
          }
        }
      }
    }
  }

  &.card-team {
    background: $white;
    padding: 5.5px 15px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: solid 1px $grey-4;

    &:first-child {
      border-radius: 6px 6px 0 0;
    }

    &:last-child {
      border-radius: 0 0 6px 6px;
      border-bottom: none;
    }

    &:hover {
      transform: scale(1);
      box-shadow: none;

      .card-content-team {
        color: $main;
      }
    }

    .card-content {
      display: flex;
      align-items: center;
      white-space: pre;

      &-rank {
        font-size: 24px;
        font-weight: 500;
        color: $grey-3;
        width: 30px;
      }

      &-team {
        color: $black;
        font-size: 16px;
        transition: 0.3s;

        span {
          font-size: 20px;
          font-weight: 500;
        }

        svg {
          height: 40px;
          width: 75px;
        }
      }

      &-result {
        flex-basis: auto;
        flex-grow: 1;
        justify-content: flex-end;
        display: flex;

        &-item {
          text-align: right;

          div:first-child {
            color: $grey-2;
          }

          div:nth-child(2) {
            color: $grey-2;
            font-weight: 500;

            span {
              color: $black;
              font-size: 20px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  &:hover {
    box-shadow: $shadow-2;
    transform: scale(1.025);
  }
}

.power-container {
  background: $white;
  border-radius: $radius;
  box-shadow: $shadow;
}

@media screen and (max-width: 1200px) {
  .home-header {
    background-size: auto 100%;
  }
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 800px) {
  .home-page {
    .card {
      margin-right: 0px;
    }

    &-wrapper {
      display: block;
    }

    &-col {
      width: 100%;

      &:last-child {
        margin-left: 0px;
      }
    }
  }

  .home-header {
    height: 300px;
    background-position: right;

    .container {
      h1 {
        text-align: left;
        width: 100%;
        font-size: 24px;
        display: none;
      }

    }
  }

  .card {
    &-content {

      &-team {
        svg {
          width: 50px !important;
          height: 50px !important;;
        }
        span {
          text-transform: capitalize;
          font-size: 18px;
        }
      }
    }
  }
}
