@import '../../styles/variables.scss';

.scoreboard {

  &-header {
    display: flex;
    align-items: center;
    margin-top: 1.66em;
    margin-bottom: 5px;

    h2 {
      margin: 0;
    }
  }

  &-datePicker {
    position: relative;
    top: -3px;

    label {
      width: 150px;
      margin-left: 10px;
    }

    .react-datepicker__input-container {
      input {
        margin-left: 10px;
        text-transform: uppercase;
        font-size: 14px;
        color: $black !important;
        font-weight: 500;
        outline: none;
        position: relative;
        top: 1px;
        cursor: pointer;
        transition: 0.3s;
        width: 90px;

        &:hover {
          opacity: 0.75;
        }
      }
    }

    &-calendar {
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &-results {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    margin-top: 25px;
  }
}


.slick-track {
  height: 64px;
}

.slick-arrow {
  position: absolute;
  z-index: 5;
  width: 50px;
  height: 100%;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px 0 0 6px;
  cursor: pointer;

  &.next {
    right: 0px;
    top: 0px;
    border-radius: 0 6px 6px 0;
    border-left: solid 1px $grey-4;
  }
}

.slick-slider {
  height: 64px;
  box-shadow: $shadow;
  border-radius: $radius;

  .slick-slide {
    background: $white;
    height: 64px;
    display: flex;
    align-items: center;
    border-left: solid 1px $grey-4;
    cursor: pointer;
    transition: 0.3s;

    div {
      margin: auto;
    }

    &-content {
      outline: 0;
      display: block;
      text-align: center;
    }

    &-date {
      font-weight: 500;
      color: $grey-2;
      transition: 0.3s;
    }

    &-games {
      font-size: 14px;
      color: $grey-2;
    }

    &:hover {
      background: $white;

      .slick-slide-date {
        color: $black;
      }
    }
  }

  .slick-current {
    box-shadow: $shadow-2;
    background: $white;
    position: relative;
    border-bottom: solid 3px $main;

    .slick-slide-date {
      font-size: 16px;
      color: $black;
    }
  }
}


@media screen and (max-width: 850px) {
  .scoreboard-datePicker {
    display: none;
  }
}

@media screen and (max-width: 650px) {


  .scoreboard-selector {
    &-item {
      padding: 0 5px;

      &:first-child, &:last-child {
        display: none;
      }

      &:nth-child(4) {
        border-right: 0px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .slick-slider {
    border-radius: 0px;
    width: 100vw;
    position: relative;
    left: -7.5px;
  }

  .slick-arrow {
    border-radius: 0px;

    &.next {
      border-radius: 0px;
    }
  }

  .scoreboard-header {
    margin: 0px;
  }

  .score-page {
    h2 {
      display: none;
    }
  }
}
