@import '../../styles/variables.scss';

.slick-slider {
  height: 64px;
  border: 0px;

  &::before {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    width: 50px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    width: 50px;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
    pointer-events: none;
  }

  .slick-list {
    border-radius: 0px;
  }

  .slick-track {
    height: 64px;
  }

  .slick-arrow {
    display: none;
  }

  .slick-slide {
    background: $white;
    height: 64px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    opacity: 1;
    border-bottom: solid 3px rgba(255,255,255,0);

    div {
      margin: auto;
    }

    &-content {
      outline: 0;
      display: block;
      text-align: center;
    }

    &-date {
      font-weight: 500;
      color: $grey-3;
      transition: 0.3s;
    }

    &-games {
      font-size: 14px;
      color: $grey-3;
    }

    &:hover {
      .slick-slide-date {
        color: $main;
        font-weight: 500;
      }
    }
  }

  .slick-active {
    opacity: 1;
  }

  .slick-current {
    background: $white;
    position: relative;
    border-bottom: solid 3px $main;

    .slick-slide-date {
      font-size: 16px;
      color: $main;
      font-weight: 500;
    }
  }
}


@media screen and (max-width: 850px) {
  .scoreboard-datePicker {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .scoreboard-selector {
    &-item {
      padding: 0 5px;

      &:first-child, &:last-child {
        display: none;
      }

      &:nth-child(4) {
        border-right: 0px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .slick-slider {
    height: 50px;

    .slick-track, .slick-slide {
      height: 50px;
    }
  }
  .slick-slide-games {
    display: none;
  }
}
