@import '../../styles/variables.scss';

.summary {
  &-header {
    padding: 15px 20px;
    display: flex;
    max-width: 800px;
    margin: 0 auto 15px auto;
    align-items: center;

    &-team {
      display: flex;
      align-items: center;
      margin: auto;

      &-name {
        .city {
        }

        .team {
          font-weight: 500;
          font-size: $h3;
        }

        .record {
          font-size: 14px;
          color: $grey-2;
        }
      }

      &:first-child {
        img {
          margin-right: 25px;
        }
      }

      &:last-child {
        text-align: right;

        img {
          margin-left: 25px;
        }
      }

      &-score {
        font-size: $h1;
        font-weight: 500;
        margin: 0 25px;
      }
    }

    &-result {
      font-weight: 500;
    }
  }

  &-period {
    display: flex;

    &-card {
      border-radius: 6px;
      margin: auto;
      background: $white;
      box-shadow: $shadow;
      overflow: scroll;

      &-wrapper {
        width: 100%;
      }
    }
  }

  &-body {
    margin-top: 15px;
    background: $white;
    box-shadow: $shadow;
    border-radius: 6px;

    &-title {
      padding: 15px 20px;
      font-size: $h3;
    }
  }
}

.period-table {
  width: 100%;

  thead {
    border-bottom: solid 1px $grey-4;

    th {
      text-align: center;
      font-weight: 600;
      padding: 10px;
    }
  }

  tbody {
    img {
      height: 25px;
      margin-right: 10px;
    }

    tr {
      border-bottom: solid 1px $grey-4;

      &:last-child {
        border-bottom: 0px;
      }

      td {
        padding: 10px 5px;
        text-align: center;

        &:first-child {
          padding-left: 10px;
          text-align: left;
          white-space: pre;
        }

        &:last-child {
          padding-right: 0px;
          font-weight: 600;
        }
      }
    }
  }
}

.scratches {
  margin: 10px;
  &-player {
    margin: 7.5px;
  }
}

@media screen and (max-width: 600px) {
  .summary {
    &-header {
      padding: 0px;

      &-team {
        &-name {
          .team {
            font-size: 16px;
          }
        }

        &-record {
          font-size: 14px;
        }

        &-score {
          font-size: 24px;
          margin: 0 10px;
        }

        img {
          width: 40px;

          &:first-child {
            margin-right: 10px;
          }

          &:last-child {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
