@import '../../styles/variables.scss';

.game-card {
  background: $white;
  border-radius: $radius;
  box-shadow: $shadow;

  &-wrapper {
    padding: 0 25px 25px 0;
    width: 50%;

    &:nth-child(even) {
      padding-right: 0px;
    }
  }

  &-header {
    padding: 10px 15px;
    border-bottom: solid 1px $grey-4;
    font-weight: 500;
  }

  &-team {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    position: relative;

    &:nth-child(2) {
      border-bottom: solid 1px $grey-4;
    }

    img {
      width: 40px;
      height: 40px;
      padding: 5px;
      margin-right: 5px;
    }

    &-score {
      position: absolute;
      right: 15px;
      font-weight: 500;
      font-size: $h4;
    }
  }

  &-links {
    padding: 10px 0;
  }

  &-footer {
    border-top: solid 1px $grey-4;

    a {
      padding: 10px 15px;
      display: inline-block;
    }
  }
}

@media (max-width: 700px) {
  .game-card-wrapper {
    width: 100%;
    padding-right: 0px;
  }
}
