@import '../../styles/variables.scss';

.game-card {
  background: $white;
  border-radius: $radius;
  border: solid 1px $grey-4;
  position: relative;

  &-series {
    &-summary {
      position: absolute;
      right: 15px;
    }
  }

  &-header {
    padding: 10px 15px;
    font-weight: 500;
    color: $grey-2;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: solid 1px $grey-4;
  }

  &-team {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    position: relative;

    &:nth-child(2) {
    }

    &-img {
      width: 50px;
      height: 50px;
      position: relative;
      left: -5px;
    }

    &-score {
      position: absolute;
      right: 15px;
      font-weight: 500;
      font-size: $h4;
    }

    a {
      color: $black;
    }
  }

  &-links {
    padding: 10px 0;
  }

  &-footer {
    display: flex;
    border-top: solid 1px $grey-4;

    a {
      padding: 10px 15px;
      color: $main;
      display: flex;
      align-items: center;
      white-space: pre;

      img {
        margin-right: 10px;
        width: 20px !important;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@media (min-width: 1201px) {
  .game-card {
    &-wrapper {
      width: 33.33%;
      padding: 0 25px 25px 0;

      &:nth-child(3), &:nth-child(6), &:nth-child(9), , &:nth-child(12) {
        padding-right: 0px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .game-card {
    &-wrapper {
      width: 50%;
      padding: 0 25px 25px 0;

      &:nth-child(even){
        padding-right: 0px;
      }
    }
  }
}

@media (max-width: 700px) {
  .video {
    &-player {
      width: 100% !important;
      left: 0;
    }
  }
  .game-card-wrapper {
    width: 100%;
    padding-right: 0px;
  }
}

@media (max-width: 600px) {
  .game-card {
    &-wrapper {
      padding-right: 0px;
      padding-bottom: 15px;
    }
  }

  .game-card {
    &-footer {
      a {
        width: 50%;
      }
    }
  }
}
