@import '../../styles/variables.scss';

.game-card {
  background: $white;
  border-radius: $radius;
  box-shadow: $shadow;

  &-header {
    padding: 10px 15px;
    border-bottom: solid 1px $grey-4;
    font-weight: 500;
  }

  &-team {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    position: relative;

    &:nth-child(2) {
      border-bottom: solid 1px $grey-4;
    }

    &-img {
      width: 40px;
      height: 40px;
      position: relative;
      left: -5px;
    }

    &-score {
      position: absolute;
      right: 15px;
      font-weight: 500;
      font-size: $h4;
    }

    a {
      color: $black;
    }
  }

  &-links {
    padding: 10px 0;
  }

  &-footer {
    border-top: solid 1px $grey-4;
    display: flex;

    a {
      padding: 10px 15px;
      border-right: solid 1px $grey-4;
      color: $main;
      display: flex;
      align-items: center;

      img {
        margin-right: 10px;
        width: 20px !important;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@media (min-width: 1201px) {
  .game-card {
    &-wrapper {
      width: 33.33%;
      padding: 0 25px 25px 0;

      &:nth-child(3), &:nth-child(6), &:nth-child(9), , &:nth-child(12) {
        padding-right: 0px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .game-card {
    &-wrapper {
      width: 50%;
      padding: 0 25px 25px 0;

      &:nth-child(even){
        padding-right: 0px;
      }
    }
  }
}

@media (max-width: 700px) {
  .game-card-wrapper {
    width: 100%;
    padding-right: 0px;
  }
}
