@import '../../styles/variables.scss';

h2 {
  margin-bottom: 0px;
}

.bracket {
  display: flex;

  h3 {
    font-weight: 300;
    margin-top: 0px;
  }

  &-column {
    width: 50%;

    &:first-child {
      margin-right: 12.5px;
    }

    &:last-child {
      margin-left: 12.5px;
    }
  }

  &-matchup {
    background: $white;
    margin-bottom: 15px;
    border-radius: $radius;
    border: solid 1px $grey-4;

    &-row {
      display: flex;

      &:first-child {
        border-bottom: solid 1px $grey-4;

        span:last-child {
          border-radius: 0 $radius 0 0;
          border-right: 0px;
        }
      }

      &:last-child {
        span:last-child {
          border-radius: 0 0 $radius 0;
          border-right: 0px;
        }
      }

      span {
        align-items: center;
        justify-content: center;
        height: 50px;
        width: auto;
        display: flex;
        flex: auto;
        padding: 5px;
        border-right: solid 1px $grey-4;
      }

      .rank {
        font-size: 24px;
        color: $grey-3;
        padding: 0 10px;
      }

      .name {
        min-width: 175px;
        justify-content: left;

        svg {
          width: 50px;
          height: 50px;
        }
      }

      .result {
        width: 40px;

        &-win {
          font-weight: 600;
          background: lighten($grey-4, 4%);
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .bracket {
    display: block;

    &-column {
      width: 100%;

      &:first-child {
        margin-right: 0px;
      }

      &:last-child {
        margin-left: 0px;

        h3 {
          margin-top: 1em;
        }
      }
    }
  }
}
