@import '../../styles/variables.scss';

.contributor-page {
  p {
    font-size: 18px;
  }

  .patreon-btn {
    color: $black;
    background: $white;
    font-weight: 500;
    box-shadow: $shadow;
    padding: 15px;
    border-radius: 6px;
    display: inline-block;

    img {
      margin-right: 10px;
    }

    &:hover {
      box-shadow: $shadow-2;
    }
  }
}
