@import '../../public/styles/variables.scss';

.searchBar {
  margin-left: 15px;
  width: 35%;


  form {
    height: 38px;
    line-height: 38px;
    border-radius: $radius;
    width: 100%;
    max-width: 400px;
    display: flex;
    position: relative;

    label {
      padding: 0 12px;
      display: flex;
      position: absolute;
      height: 100%;
    }

    input {
      padding-left: 42px;
      outline: none;
      width: 100%;
      transition: 0.3s;
      border-radius: $radius;
      background: $grey-5;
      border: solid 1px $grey-4;

      &:focus {
        box-shadow: $shadow-2;
        background: $white;
      }
    }
  }
}

.options {
  position: absolute;
  background: $white;
  z-index: 99;
  width: 100%;
  top: 40px;
  left: 0px;
  border-radius: $radius;
  box-shadow: $shadow-2;

  &-item {
    padding: 5px 15px;
    display: block;
    border-bottom: solid 1px $grey-4;
    color: $black;

    &:first-child {
      border-radius: $radius $radius 0 0;
    }

    &:last-child {
      border-bottom: 0px;
    }

    &:hover {
      color: $main;
    }

    &.active {
      background: $grey-5;
    }
  }

  &-img {
    width: 40px;
    border-radius: 99px;
    margin-right: 10px;

    &.team {
      border-radius: 0px;
      width: 30px;
    }
  }
}

@media screen and (max-width: 950px) {
  .searchBar {
    width: 35%;
  }
}

@media screen and (max-width: 799px) {
  .searchBar {
    width: 100%;

    form {
      max-width: none;
    }
  }
}

@media (max-width: 600px) {
  .searchBar {
    margin-left: 5px;
  }
}
