@import '../../styles/variables.scss';

.searchBar {
  margin-left: 25px;
  width: 35%;

  form {
    background: $white;
    height: 38px;
    line-height: 38px;
    padding-left: 8px;
    box-shadow: $shadow;
    border-radius: 6px;
    margin: auto;
    width: 100%;
    max-width: 400px;
    display: flex;
    position: relative;

    label {
      padding: 0 12px;
      border-left: solid 1px $grey-4;
    }

    input {
      outline: none;
      width: 100%;
    }
  }

}

.options {
  position: absolute;
  background: $white;
  z-index: 99;
  width: 100%;
  top: 40px;
  left: 0px;
  border-radius: 6px;
  box-shadow: $shadow;

  &-item {
    padding: 5px 15px;
    display: block;
    border-bottom: solid 1px $grey-4;
    color: $black;

    &:last-child {
      border-bottom: 0px;
    }

    &:hover {
      background: $grey-5;
    }
  }

  &-img {
    width: 40px;
    border-radius: 99px;
    margin-right: 10px;

    &.team {
      border-radius: 0px;
      width: 30px;
    }
  }
}

@media screen and (max-width: 950px) {
  .searchBar {
    width: 35%;
  }
}

@media screen and (max-width: 799px) {
  .searchBar {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .searchBar {
    margin-left: 5px;
  }
}
