@import '../../styles/variables.scss';

.player {
  &-header {
    display: flex;
    margin: 25px 0;
    position: relative;
    border-bottom: solid 1px $grey-4;
  }

  &-img {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: flex-end;
    position: relative;
    margin-top: 15px;

    &-face {
      border-radius: 100%;
      width: auto;
      max-height: 210px;
      margin-right: 25px;
    }

    &-team {
      width: 60px;
      height: 60px;
      position: absolute;
      top: 145px;
      right: 15px;

      img {
        width: 35px;
      }
    }

    &-country {
      width: 60px;
      height: 60px;
      position: absolute;
      top: 145px;
      right: 185px;

      img {
        width: 35px;
      }
    }
  }

  &-info {
    padding: 15px 0;

    h2, p {
      margin: 0;
    }
  }

  &-desc {
    display: flex;
    margin-top: 15px;

    p {
    }

    &-right {
      margin-left: 25px;
      padding-left: 25px;
      border-left: solid 1px $grey-4;
    }
  }

  &-stats {
    display: flex;
    margin-top: 20px;

    &-item {
      text-align: center;
      font-size: 24px;
      margin-right: 50px;
    }
  }

  &-badges {
    padding-left: 25px;
    border-left: solid 1px $grey-4;
    display: flex;
    align-items: center;

    .icon-wrapper {
      margin-right: 15px;
    }
  }
}

@media (max-width: 800px) {
  .player {
    &-stats {
      &-item {
        margin-right: 25px;
      }
    }
  }
}

@media (max-width: 600px) {
  .player {
    &-header {
      margin-top: 0px;
    }

    &-desc {
      display: block;

      &-right {
        padding-top: 15px;
        margin-top: 15px;
        margin-left: 0px;
        padding-left: 0px;
        border-left: 0px;
        border-top: solid 1px $grey-4;
      }
    }

    &-stats {
      &-item {
        margin: auto;

        &:first-child {
          margin-left: 0;
        }

        &:nth-child(5) {
          margin-right: 0;
        }
      }
    }

    &-badges, &-img {
      display: none;
    }
  }
}
