@import '../../../public/styles/variables.scss';

.score {
  &-page {
    .page-header {
      padding-bottom: 0px;
    }
  }
}

button {
  outline: none;
  cursor: pointer;
}


.scoreboard {
  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;

    h2 {
      margin: 0;
    }
  }

  &-datePicker {
    position: absolute;
    right: 0px;
    background: $grey-5;
    padding: 6px;
    border: solid 1px $grey-4;
    border-radius: 4px;
    transition: 0.3s;

    &:hover {
      border: solid 1px $black;
      background: $white;
    }

    label {
      width: 150px;
      margin-left: 10px;
    }



    &-calendar {
      cursor: pointer;
      transition: 0.3s;
      z-index: 99;
    }
  }

  &-wrapper {
    margin-top: 25px;
  }

  &-section {
    &-name {
      padding: 10px 0;
      color: $grey-2;
      border-top: dashed 1px $grey-4;
    }

    &-results {
      align-items: center;
      flex-flow: wrap;
      display: flex;
    }
  }
}

@media screen and (max-width: 600px) {
  .scoreboard-header {
    margin: 0px;
  }

  .score-page {
    .page-header {
      padding-top: 0px;

      .container {
        padding: 0px;
      }
    }
    h2 {
      display: none;
    }
  }

  .scoreboard-section-name {
    border-top: 0px;
    padding: 0px;
    margin-bottom: 10px;
  }
}
