@import '../../public/styles/variables.scss';

.player-badges {
  padding-left: 25px;
  border-left: solid 1px $grey-4;
  display: flex;
  align-items: center;

  .icon-wrapper {
    margin-right: 15px;
  }
}
