@import '../../styles/variables.scss';

.ReactTable {
  box-shadow: $shadow;
  border: 0px;
  border-radius: $radius;
  background: $white;

  .rt-thead {
    &.-header {
      box-shadow: none;
      border-bottom: solid 1px $grey-4;
    }

    .rt-th {
      text-align: center;
      border-right: 0;
      font-weight: 500;
      padding: 15px 10px;
      outline: none;

      &:first-child, &:nth-child(2) {
        text-align: left;
      }

      &:nth-child(2) {
        border-right: solid 1px $grey-4;
      }
    }
  }

  .rt-tbody {

    .rt-tr.-odd {
      background: $grey-5;
    }

    .rt-tr:hover {
      background: #edf0f3 !important;
    }

    .rt-tr-group {
      border-bottom: solid 1px $grey-4;
    }

    .rt-td {
      text-align: center;
      padding: 10px;
      border: 0px;
    }
  }

  .rt-tfoot {
    box-shadow: none;
    border-top: solid 1px $grey-4;

    .rt-td {
      border: none;
      font-weight: 500;
      padding: 15px 10px;
    }
  }
}


.border-right {
  border-right: solid 1px $grey-4 !important;
}

.text-left {
  text-align: left !important;
}

@media screen and (max-width: 600px) {
  .ReactTable {
    font-size: 12px;
    box-shadow: none;
    border-radius: 0px;

    .rt-thead {
      .rt-th {
        padding: 15px 0px;
      }
    }

    .rt-tbody {
      .rt-td {
        padding: 15px 0px;
      }
    }
  }
}
