@import '../../styles/variables.scss';


.ReactTable {
  box-shadow: $shadow;
  border: 0px;
  border-radius: $radius;
  background: $white;

  input, select {
    height: 30px;
  }

  &.player-stats {
    .rt-th {
      &:nth-child(3) {
        text-align: left;
      }

      &:nth-child(4) {
        text-align: left;
        border-right: solid 1px $grey-4;
      }

      &:nth-child(5), &:nth-child(6) {
        display: none;
      }
    }
  }

  &.career-stats {
    .rt-thead {
      .rt-th {
        &:nth-child(3) {
          text-align: left;
          border-right: solid 1px $grey-4;
        }
      }
    }
  }

  &.standings-stats {
    margin-bottom: 15px;

    .rt-thead {
      .rt-th {
        &:nth-child(3) {
          text-align: left;
          border-right: solid 1px $grey-4;
        }
      }
    }

    &:nth-child(4), &:nth-child(8) {
      .rt-tbody {
        .rt-tr-group:nth-child(2) {
          border-bottom: solid 5px $grey-4;
        }
      }
    }
  }

  &.teams-table {
    .rt-thead {
      .rt-th {
        &:nth-child(2) {
          text-align: left;
          border-right: solid 1px $grey-4;
        }
      }
    }
  }

  &.roster {
    .rt-thead {
      .rt-th {
        text-align: left;
      }
    }
  }

  &.boxscore {
    .rt-thead {
      .rt-th {
        &:nth-child(2) {
          text-align: left;
          border-right: solid 1px $grey-4;
        }
      }
    }
  }

  .rt-thead {
    &.-header {
      box-shadow: none;
      border-bottom: solid 1px $grey-4;
    }

    &.-filters {
      display: none;
    }

    .rt-th {
      text-align: center;
      border-right: 0;
      font-weight: 600;
      padding: 10px;
      outline: none;

      &:first-child, &:nth-child(2) {
        text-align: left;
      }
    }
  }

  .rt-tbody {

    .rt-tr.-odd {
      background: #f6f9fca3;
    }

    .rt-tr-group {
      border-bottom: solid 1px $grey-4;
    }

    .rt-td {
      text-align: center;
      padding: 5px 10px;
      border: 0px;
    }
  }

  .rt-tfoot {
    box-shadow: none;
    border-top: solid 1px $grey-4;

    .rt-td {
      border: none;
      font-weight: 600;
      padding: 10px;
      text-align: center;
    }
  }

  .-pagination {
    box-shadow: none;
    border-top: solid 1px $grey-4;
    padding: 15px 10px;

    .-btn {
      background: $grey-4;
      font-weight: 500;
      color: $grey-1;

      &:hover {
        background: $grey-3 !important;
        color: $grey-1 !important;
      }
    }
  }
}


.hidden {
  display: none;
}

.border-right {
  border-right: solid 1px $grey-4 !important;
}

.text-left {
  text-align: left !important;
}

.team-cell {
  a {
    margin: auto;
  }

  img {
    width: 25px;
    margin-right: 10px;
  }
}

.filters {
  margin: 15px 0 25px 0;
  display: flex;
  //display: none;

  &-input {
    margin-top: 5px;
    padding: 2px 8px;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 38px;
    outline: 0 !important;
    transition: 0.3s;
    background: #ffffff;
    box-shadow: 0px 2px 12px 0px rgba(221, 231, 239, 0.75);
    border-radius: 6px;
  }

  &-item {
    max-width: 200px;
    width: 100%;
    margin-right: 15px;

    &:first-child {
      position: relative;
      top: -3px;
    }

    &-label, label {
      margin-bottom: 5px;
      color: $grey-2;
      font-size: 14px;
    }
  }
}

.react-select {

  &__control {
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: 38px;
    outline: 0 !important;
    transition: 0.3s;
    background: $white;
    box-shadow: $shadow;
    border-radius: $radius;

    &:hover, &--is-focused {
      box-shadow: $shadow-2;
    }
  }

  &__option {
    cursor: pointer !important;
  }
}

@media screen and (max-width: 600px) {
  .ReactTable {
    font-size: 12px;
    box-shadow: none;
    border-radius: 6px;

    .rt-thead {
      .rt-th {
        padding: 5px;
      }
    }

    .rt-tbody {
      .rt-td {
        padding: 5px;
      }
    }
  }

  .filters {
    display: none;
  }

  .hidden-mobile {
    display: none;
  }
}
