@import '../../styles/variables.scss';

.team {

  &-header {
    margin: 25px 0;
    padding: 15px 0;
    position: relative;
    border-bottom: solid 1px $grey-4;

    &-title {
      display: flex;

      h2 {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
  }

  &-img {
    margin-right: 25px;
  }

  &-info {
    display: flex;
  }

  &-stats {
    display: flex;
    margin-top: 20px;

    &:first-child {
      border-right: solid 1px $grey-4;
    }

    &:nth-child(2) {
      padding-left: 50px;
    }

    &-item {
      text-align: center;
      font-size: 24px;
      margin-right: 50px;
    }
  }

  &-chart {
    display: flex;
  }
}
