@import '../../styles/variables.scss';

.dropdown {
  position: relative;

  &-trigger {
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: 0.3s;

    &:hover {
      opacity: 0.75;
    }
  }

  &-arrow {
    margin-left: 10px;
    border: solid $black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    position: relative;
    top: -2px;
  }

  &-menu {
    position: absolute;
    background: $white;
    box-shadow: $shadow;
    z-index: 99;
    border-radius: 6px;
    height: 300px;
    right: 0px;

    &-list {
      overflow: auto;
      height: 300px;

      a {
        color: $black;
        display: block;
        padding: 10px 15px;
        border-bottom: solid 1px $grey-4;

        &:hover {
          color: $main;
        }

        &:last-child {
          border-bottom: 0px;
        }
      }
    }
  }
}
