@import '../../public/styles/variables.scss';

.dropdownMenu {
  position: relative;

  &-trigger {
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: 0.3s;

    &:hover {
      opacity: 0.75;
    }
  }

  &-arrow {
    margin-left: 10px;
    border: solid $black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    position: relative;
    top: -2px;
  }

  &-list {
    position: absolute;

    background: $white;
    box-shadow: $shadow;
    z-index: 99;
    border-radius: 6px;
    height: 300px;
    left: 0px;

    &-block {
      width: 240px;

      &:last-child {
        a {
          border-left: solid 1px $grey-4;
        }
      }
    }

    &-wrapper {
      overflow: auto;
      height: 300px;
      display: flex;

      a {
        color: $black;
        display: flex;
        align-items: center;
        padding: 10px 10px;

        svg {
          margin-right: 10px;
          width: 36px;
          height: 24px;
        }

        &:hover {
          background: $grey-4;
        }

        &:last-child {
          border-bottom: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .dropdownMenu-list-wrapper {
    display: block;
  }
}
